In [1]:
import pandas as pd

In [2]:
eduAgentMaster = pd.read_csv("csv/eduAgentMaster.csv")
prodUsers = pd.read_csv("csv/prodUsers4Nov21.csv")
hubspotContacts = pd.read_csv("csv/hubspotContacts4Nov21.csv")

In [3]:
hubspotContacts.shape

(679, 188)

In [4]:
#drop hubspotContacts columns
nullSum = hubspotContacts.isnull().sum()
hubspotContacts = hubspotContacts.drop(columns = nullSum[nullSum >= 200].index)
hubspotContacts.shape

(679, 22)

In [5]:
#hubspot columns - remaining columns 
hubspotContacts = hubspotContacts[['Contact ID','Lifecycle Stage', 'Country/Region', 'Email Domain', 'Email', 'Company Name']]
hubspotContacts.isnull().sum()

Contact ID           0
Lifecycle Stage     25
Country/Region     101
Email Domain         4
Email                4
Company Name        39
dtype: int64

In [6]:
hubspotContacts.head()

,Contact ID,Lifecycle Stage,Country/Region,Email Domain,Email,Company Name
0,23701,Lead,NaN,super-star.com.au,agustina@super-star.com.au,NaN
1,23551,Lead,NaN,gmail.com,c4nzzz@gmail.com,NaN
2,23501,Lead,NaN,loekito.id,yuli@loekito.id,NaN
3,23251,Lead,NaN,loekito.co.id,halo@loekito.co.id,NaN
4,23201,NaN,NaN,edubridge.com.cn,lucialiu@edubridge.com.cn,NaN

In [7]:
prodUsers.shape

(70, 8)

In [8]:
prodUsers = prodUsers.drop(columns=['Created at', 'Updated at'])
prodUsers.head()

,Id,Role,Name,Email,Phone,External
0,114,agent_admin,Chandra Dwi Putra,c4nzzz@gmail.com,085716451213,BVNvKJrvvjQ9NZT3l7I4u0p9xi72
1,112,agent,Bayu Wicaksono,edu@loekito.co.id,08155063080,LRPhVDxOIHfIp2mCj2HKgrZYkav1
2,111,agent_admin,Yuli Istana,yuli@loekito.id,08123316820,27ZKtz3w1Se6PB6CI2jr6KHljK33
3,110,agent,Novita Andianto,tour_intl@haryonotours.com,082140056077,2qb4O8eJToUXWYcsH4s0wWfjCPy2
4,109,agent_admin,Pungki Joeniastuti,pungki@haryonotours.com,081559915370,gy5OfDOgXkfluuavUsTjYqvHu7R2

In [9]:
eduAgentMaster.shape

(999, 10)

In [10]:
eduAgentMaster.isnull().sum()

No                789
Agent name        789
Location          790
Details           822
Contact Number    805
Instagram         888
Follow up 1       953
result            966
Follow up 2       996
result.1          996
dtype: int64