In [1]:
import pandas as pd
import numpy as np 
import re

In [2]:
eduAgentMaster = pd.read_csv("csv/eduAgentMaster.csv") #futile, <10% of data in over 1000 rows
prodUsers = pd.read_csv("csv/prodUsers4Nov21.csv")
hubspotContacts = pd.read_csv("csv/hubspotContacts4Nov21.csv")
kosplus = pd.read_csv("csv/kosplus.csv")
kosplusxls = pd.read_excel('csv/kosplus.xlsx', index_col=0)

In [3]:
hubspotContacts.shape

(679, 188)

In [4]:
#drop hubspotContacts columns
nullSum = hubspotContacts.isnull().sum()
hubspotContacts = hubspotContacts.drop(columns = nullSum[nullSum >= 200].index)
hubspotContacts.shape

(679, 22)

In [5]:
#hubspot columns - remaining columns 
hubspotContacts = hubspotContacts[['Contact ID','Lifecycle Stage', 'Country/Region', 'Email Domain', 'Email', 'Company Name']]
hubspotContacts.isnull().sum()

Contact ID           0
Lifecycle Stage     25
Country/Region     101
Email Domain         4
Email                4
Company Name        39
dtype: int64

In [6]:
pd.unique(hubspotContacts['Lifecycle Stage'])

array(['Lead', nan, 'Subscriber', 'Opportunity'], dtype=object)

In [7]:
prodUsers.shape

(70, 8)

In [8]:
prodUsers = prodUsers.drop(columns=['Created at', 'Updated at'])
prodUsers

,Id,Role,Name,Email,Phone,External
0,114,agent_admin,Chandra Dwi Putra,c4nzzz@gmail.com,085716451213,BVNvKJrvvjQ9NZT3l7I4u0p9xi72
1,112,agent,Bayu Wicaksono,edu@loekito.co.id,08155063080,LRPhVDxOIHfIp2mCj2HKgrZYkav1
2,111,agent_admin,Yuli Istana,yuli@loekito.id,08123316820,27ZKtz3w1Se6PB6CI2jr6KHljK33
3,110,agent,Novita Andianto,tour_intl@haryonotours.com,082140056077,2qb4O8eJToUXWYcsH4s0wWfjCPy2
4,109,agent_admin,Pungki Joeniastuti,pungki@haryonotours.com,081559915370,gy5OfDOgXkfluuavUsTjYqvHu7R2
...,...,...,...,...,...,...
65,17,agent_admin,Rifaldo Imanuel,rifaldo.marbun@koskosan.com.au,+6285722334416,5Y2gOuMAoPWnPnpAcYjXDcGvrgx2
66,15,vendor_admin,Kosplus Staff Suneo,parcel+kosplus@relomate.co,+61434782867,08tS2JapTIceoYlGLyS9fnAit792
67,14,vendor_admin,Kosplus Staff Mono,Storage+KOSPLUS@relomate.co,+61434782867,AmoEj27LpCaBCLeKPAZVZmiktlv2
68,13,agent_admin,Growth Staff,growth+ops@relomate.co,+614476476,f29Il6S6r8glNfEQ3k2hZ4oBeep1
69,11,agent_admin,Johan Setiawan,johan@super-star.com.au,+61433662002,1Ch2PqSKENaNpzf8x7saKA8MdBP2

In [9]:
kosplus.head()

,Name,Email,Phone Number,Company Name,City/Region,Country,Contact Stage
0,Bayu Wicaksono,edu@loekito.co.id,8.155063e+09,Loekito Education,Malang,Indonesia,Registered
1,Yuli Istana,yuli@loekito.id,8.123317e+09,Loekito Education,Malang,Indonesia,Registered
2,Wiwied Tonty Emanuel,wiwied@loekito.id,8.980691e+09,Loekito Education,Surabaya,Indonesia,Registered
3,Maria Caroline (petty),txmalang99@gmail.com,8.521414e+10,TX Travel,Malang,Indonesia,Registered
4,Silvia Shara Syafira,osl.sipi@gmail.com,8.133424e+10,Felia Tour,Surabaya,Indonesia,Registered

In [10]:
def removeNonNumerical(text):
    text = re.sub("[^0-9]", "", text)
    return text

In [11]:
kosplus.isnull().sum()

Name             0
Email            1
Phone Number     1
Company Name     0
City/Region      5
Country          0
Contact Stage    0
dtype: int64

In [12]:
for i in range(len(prodUsers)):
    prodUsers.loc[i, 'Phone'] = removeNonNumerical(prodUsers.loc[i, 'Phone'])

In [13]:
kosplus = kosplus.fillna(0)
kosplus.isnull().sum()

Name             0
Email            0
Phone Number     0
Company Name     0
City/Region      0
Country          0
Contact Stage    0
dtype: int64

In [15]:
kosplus['Phone Number'] = kosplus['Phone Number'].astype('int64') 
kosplus.head()

,Name,Email,Phone Number,Company Name,City/Region,Country,Contact Stage
0,Bayu Wicaksono,edu@loekito.co.id,8155063080,Loekito Education,Malang,Indonesia,Registered
1,Yuli Istana,yuli@loekito.id,8123316820,Loekito Education,Malang,Indonesia,Registered
2,Wiwied Tonty Emanuel,wiwied@loekito.id,8980690938,Loekito Education,Surabaya,Indonesia,Registered
3,Maria Caroline (petty),txmalang99@gmail.com,85214141199,TX Travel,Malang,Indonesia,Registered
4,Silvia Shara Syafira,osl.sipi@gmail.com,81334241804,Felia Tour,Surabaya,Indonesia,Registered

In [16]:
kosplus.columns
kosplus = kosplus.rename(columns={"Name": "name", "Email": "email", "Phone Number": "phone", "Company Name": "company", "City/Region": "city", "Country": "country", "Contact Stage": "stage"}, errors="raise")
kosplus.head()

,name,email,phone,company,city,country,stage
0,Bayu Wicaksono,edu@loekito.co.id,8155063080,Loekito Education,Malang,Indonesia,Registered
1,Yuli Istana,yuli@loekito.id,8123316820,Loekito Education,Malang,Indonesia,Registered
2,Wiwied Tonty Emanuel,wiwied@loekito.id,8980690938,Loekito Education,Surabaya,Indonesia,Registered
3,Maria Caroline (petty),txmalang99@gmail.com,85214141199,TX Travel,Malang,Indonesia,Registered
4,Silvia Shara Syafira,osl.sipi@gmail.com,81334241804,Felia Tour,Surabaya,Indonesia,Registered

In [17]:
prodUsers.columns
prodUsers = prodUsers.rename(columns={"Id": "id", "Role": "role", "Name": "name", "Email": "email", "Phone": "phone", "External": "external"}, errors="raise")
prodUsers.head()

,id,role,name,email,phone,external
0,114,agent_admin,Chandra Dwi Putra,c4nzzz@gmail.com,085716451213,BVNvKJrvvjQ9NZT3l7I4u0p9xi72
1,112,agent,Bayu Wicaksono,edu@loekito.co.id,08155063080,LRPhVDxOIHfIp2mCj2HKgrZYkav1
2,111,agent_admin,Yuli Istana,yuli@loekito.id,08123316820,27ZKtz3w1Se6PB6CI2jr6KHljK33
3,110,agent,Novita Andianto,tour_intl@haryonotours.com,082140056077,2qb4O8eJToUXWYcsH4s0wWfjCPy2
4,109,agent_admin,Pungki Joeniastuti,pungki@haryonotours.com,081559915370,gy5OfDOgXkfluuavUsTjYqvHu7R2

In [19]:
list(set(kosplus.email) & set(prodUsers.email))

['ticketing@celindotour.com',
 'lampung@central-student.com',
 'marvelia@super-star.com.au',
 'edu@loekito.co.id',
 'agustina@super-star.com.au',
 'lely@edlink.or.id',
 'txmalang99@gmail.com',
 'messi@super-star.com.au',
 'wahyudi@fortrust.com',
 'edmond.satrio@gmail.com',
 'm.ops@rodextravel.tours',
 'bali@myeducationrepublic.com',
 'nanda@super-star.com.au',
 'tour-grsub@goldenrama.com',
 'studyoverseas.id@gmail.com',
 'shinta@super-star.com.au',
 'go.jakarta@globaloneworld.com',
 'jogja3@ican-education.com',
 'mitchellanasthasya@gmail.com',
 'osl.sipi@gmail.com',
 'pungki@haryonotours.com',
 'harjantihalim88@gmail.com',
 'wiwied@loekito.id',
 'rendi@edlink.or.id',
 'yuli@loekito.id',
 'tour_intl@haryonotours.com',
 'jogja2@ican-education.com']